.productImage {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 16px;
}

.itemSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    padding: 24px 0;
}

.itemUnityInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.textInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.itemUnityInfo h3, 
.itemUnityInfo p {
    margin: 0;
}

.quantitySection {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 110px;
    justify-content: flex-start;
}

.quantityPrice {
    min-width: 110px;
    text-align: right;
}

.removeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: none;
    background: transparent;
    cursor: pointer;
}