.listPrint {
    display: flex;
    align-items: center;
    gap: 20px;
}

.productImage {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 16px;
}

.itemInfo {
    flex: 1;
}

.itemInfo h1 {
    margin: 0;
    font-size: 20px;
    color: #222;
}

.itemInfo p {
    margin-top: 8px;
    color: #666;
    font-size: 15px;
}
